/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5%;
  background-color: #F1F1F1;
}
body .section {
  display: flex;
}
body .section div {
  padding: 0 0.2em;
}
body img {
  width: 100%;
  margin: 0.6em 0;
}
body a {
  text-decoration: none;
  color: #F6F7F8;
}
body .img-circle {
  border-radius: 50%;
}
body footer {
  background-color: #454A59;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  background-color: #23293B;
  color: #F6F7F8;
  height: 5em;
}
header h1 {
  font-size: 1.7rem;
  font-weight: bold;
}
header .header-right {
  display: flex;
}
header .header-right nav {
  display: flex;
  justify-content: space-around;
}
header .header-right .title {
  margin: 0.2em;
}
header .header-left {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
header .header-left div {
  display: flex;
  margin: auto 0;
}
header img {
  width: initial;
  padding: 0 0.2rem;
}
footer nav {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}
.section {
  height: 10%;
  padding-top: 1.5em;
}
.section .left-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.section div {
  height: 100%;
}
.section div .img-left {
  height: 30%;
}
.section div .mid-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}
.section div .mid-div .img-center {
  height: 100%;
}
.section div .img-right {
  border-radius: 35%;
}
.section div .major-p {
  color: #23293B;
  font-weight: bold;
  font-size: 1.6em;
  padding: 2em 0;
}
