.section {
    height: 10%;

    div {
        height: 100%;
    }
    
    .img-left {
        height: 30%;
    }

    fig {
        align-content: center;
    }

    .img-center {
        height: 80%;
    }
}